/* Общий цвет ссылок */
.headerWrapper a,
.headerWrapperTop a,
.headerWrapperPannel a {
  color: #333333;
  text-decoration: none;
}

.headerWrapper a:hover,
.headerWrapperTop a:hover,
.headerWrapperPannel a:hover {
  color: #ff5a00;
  text-decoration: none;
}

/* ------------------------------------------------------- */
/* Общий дизайн выбранного пункта */
a.mainMenuItem.active,
.sectionMenuItem.active a {
  color: #0055a6;
}

.mainMenuItem.active,
.sectionMenuItem.active a {
  border-bottom: 1px solid #0055a6;
}

.mainMenuItem.hover,
a:hover.mainMenuItem.active,
.sectionMenuItem.active a:hover {
  color: #ff5a00;
}

a:hover.mainMenuItem.active,
.sectionMenuItem.active a:hover {
  border-bottom: 1px solid #ff5a00;
}
